* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: #3398eb;
  margin: 0;
  padding: 0;
  font-family: "Niramit", sans-serif;
  min-height: 100vh;
  color: White;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  position: fixed;
  padding-top: 2pt;
  padding-bottom: 2pt;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #1d63cc), to(#0b4aa8));
  background: linear-gradient(to right, #1d63cc 1%, #0b4aa8);
  height: 5vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
}

body #content {
  width: 100vw;
  height: 95vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

::-webkit-scrollbar {
  width: 5pt;
}

::-webkit-scrollbar-track {
  background: #1452ad;
}

::-webkit-scrollbar-thumb {
  background: #068fff;
}

button {
  color: white;
  background: #0b4eb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16pt;
  padding: 5pt;
  padding-right: 10pt;
  padding-left: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

button:hover {
  background: #1365e0;
  cursor: pointer;
}

input {
  background: #124085;
  color: white;
  font-family: "Niramit", sans-serif;
  border: none;
}

textarea {
  background: #124085;
  color: white;
  font-family: "Niramit", sans-serif;
  border: none;
}

.separator {
  width: 100%;
  height: 1pt;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15pt;
  margin-bottom: 15pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 100000;
}

header h1 {
  margin-left: 14pt;
}

header h1 #mobile {
  display: none;
}

@media screen and (pointer: coarse) {
  header h1 {
    font-size: 16pt;
  }
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header h1 #full {
    display: none;
  }
  header h1 #mobile {
    display: block;
    margin-right: 10pt;
  }
}

header #buttonTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab button {
  background: none;
}

header #buttonTab button:hover {
  color: #5ea9ff;
}

header #buttonTab button #mobile {
  width: 30pt;
  display: none;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab button {
    width: 30pt;
  }
  header #buttonTab button #mobile {
    display: block;
  }
  header #buttonTab button p {
    display: none;
  }
}

header #buttonTab #bOurEvents {
  margin-left: 0pt;
  margin-right: 1vw;
  min-width: 10pt;
  padding: 1pt;
  padding-left: 5pt;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 min-content;
          flex: 1 1 min-content;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #bOurEvents {
    min-width: 0;
    margin-left: auto;
  }
}

header #buttonTab #clubSelectionTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 1vw;
  -webkit-transition: -webkit-box-flex 1s;
  transition: -webkit-box-flex 1s;
  transition: flex 1s;
  transition: flex 1s, -webkit-box-flex 1s, -ms-flex 1s;
}

header #buttonTab #clubSelectionTotal:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30vw;
          flex: 0 0 30vw;
}

header #buttonTab #clubSelectionTotal:hover > #clubSelectGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 6vh;
  }
  header #buttonTab #clubSelectionTotal:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab #clubSelectionTotal #bClubSelect {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #bClubSelect {
    display: none;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 2pt;
  margin-right: 2pt;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80%;
  transition: 1s;
  cursor: pointer;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: 3vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover + p {
  display: block;
  opacity: 0.7;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover {
  background-color: #068fff;
}

@media screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
    background-size: 5vh;
  }
}

@media screen and (orientation: portrait) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
    background-size: 3vh;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm p {
  display: none;
  margin: 0;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  margin-top: 30pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #global #image {
  background-image: url("/pics/wheel.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #design #image {
  background-image: url("/pics/block.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #cyber #image {
  background-image: url("/pics/anonymous-mask.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #space #image {
  background-image: url("/pics/rocket.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #vr #image {
  background-image: url("/pics/vr.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #poker #image {
  background-image: url("/pics/poker.png");
}

#popup-field {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 500000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  background: rgba(6, 18, 44, 0.8);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#popup-field.closed {
  opacity: 0;
  display: none;
}

@-webkit-keyframes animEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animOuter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animOuter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popup-field.animationEnter {
  -webkit-animation: animEnter 1s ease-out;
          animation: animEnter 1s ease-out;
}

#popup-field.animationOuter {
  -webkit-animation: animOuter 1s ease;
          animation: animOuter 1s ease;
}

#popup-field .popup {
  width: 50vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 10pt;
  background: #1452ad;
  padding: 5pt;
  z-index: 50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (orientation: portrait) {
  #popup-field .popup {
    width: 90vw;
    height: auto;
  }
}

#popup-field .popup .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field .popup .header #bBack {
  margin: 0;
  width: 30pt;
  height: 30pt;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field .popup .header #bBack img {
  width: 100%;
}

#popup-field .popup .header h3 {
  margin-left: 5pt;
}

#popup-field .popup .fields .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5pt;
}

#popup-field .popup .fields .field p {
  -webkit-box-flex: max-content;
      -ms-flex: max-content 0;
          flex: max-content 0;
}

#popup-field .popup .fields .field input {
  min-height: 20pt;
  margin-left: 5pt;
  padding-left: 5pt;
  padding-right: 5pt;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .fields .field input.incorrect {
  background: #ca3030;
}

#popup-field .popup .fields .field textarea {
  min-height: 20pt;
  max-height: 200pt;
  margin-left: 5pt;
  padding-left: 5pt;
  padding-right: 5pt;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .fields .field textarea.incorrect {
  background: #ca3030;
}

#popup-field .popup .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20pt;
}

#popup-field .popup .buttons button {
  margin: 4pt;
  background: #0378d8;
  width: 100%;
  border-radius: 6pt;
  font-size: 10pt;
}

#popup-field .popup .buttons button:disabled {
  background: #0c2f64;
  cursor: default;
}

#popup-field .popup .buttons button:disabled:hover {
  background: #0c2f64;
}

#popup-field .popup .buttons button:hover {
  background: #068fff;
}

#popup-field .popup .buttons .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

#popup-field .popup .textes .text {
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .textes .text.error {
  margin-top: 5pt;
  padding: 2pt 5pt;
  border-radius: 10pt;
  background: rgba(255, 0, 0, 0.5);
}

#popup-field .popup button {
  margin: 4pt;
  background: #0378d8;
  width: 100%;
  border-radius: 6pt;
  font-size: 10pt;
}

#popup-field .popup button:hover {
  background: #068fff;
}

#popup-field .popup button:disabled {
  background: #283d66;
}

@-webkit-keyframes anim-enter {
  0% {
    margin-left: -5vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes anim-enter {
  0% {
    margin-left: -5vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@-webkit-keyframes anim-outer {
  0% {
    margin-left: 0vw;
    opacity: 1;
  }
  100% {
    margin-left: -5vw;
    opacity: 0;
  }
}

@keyframes anim-outer {
  0% {
    margin-left: 0vw;
    opacity: 1;
  }
  100% {
    margin-left: -5vw;
    opacity: 0;
  }
}

#popup-field .popup.closed {
  opacity: 0;
  display: none;
}

#popup-field .popup.animationEnter {
  -webkit-animation: anim-enter 1s ease;
          animation: anim-enter 1s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#popup-field .popup.animationOuter {
  opacity: 0;
  -webkit-animation: anim-outer 1s ease;
          animation: anim-outer 1s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#popup-field #loading .textes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field #loading .textes img {
  width: 15vw;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

body .block {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

body .block .content h2 {
  margin: 0;
}

body .block .content p {
  margin: 0;
}

@media screen and (orientation: portrait) {
  body .block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .block * {
    text-align: center;
  }
}

body .block.top {
  background: rgba(29, 99, 204, 0.9);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40vh;
          flex: 1 1 40vh;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  margin-top: 5vh;
  width: 100vw;
  text-align: center;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 119, 204, 0.9)), to(rgba(29, 119, 204, 0.9))), url("https://lh3.googleusercontent.com/uH4jH0urKusM1PLh3tFISH2pc4OEatHmehzpX1_k-gn-BQtx4FPixE0--NnPzkJ_-LDqaEwB3YUzh0GMOC0_EiB7vXygOqcMF3vxNIVS-gep33M3aV2FUmW38zu50BfMDd6JMZMTcpiwW1wwIA3CkPob1MFZ5P3PDpmNz0lsPldVcDUto2a0RpUDQPaNu8bBx-H8Iw0PnCHbMjwk_ZdfREdb-l4l_nCjs6q34Xr4beB_jfYC7w8_B0HkAzr5OC6h_WoQHaEKaPnbCVo5Q1QsU_zi-l1LomFLdxdCeLz-PaUY_WudJfcPd6MvxD2g5lZx1zJy2OsDjkLAI-EGJkqKYdzuc8rhjNzUYzHxEKIdYXZKAtDE1_KVgEdsiDNAARRP5kS78Clc9Q5qUwo4tCu0Xg3V8J2aoW3mzz7iWvSCFMo_wsF3u9IpkIVqQvoD4w156_qfMuhnskV4t6QlLN5w-YaXsDNRYQajk9lBZ0MAssOCMGiaP4DPLfKOnmyfuCTlW_g20ep6k8x7bL7GiWNEkvJoe8nvkA2_5T46RWSY9YxawJuc4rg5F0-zQ9UeDAu-A2kweAXXjqRA3S9QoMxJ69OZ4TVqAcQ8k96cIXoep4ngKSftsb27VwD7cwsLBLIU=w1663-h938-no");
    background: linear-gradient(rgba(29, 119, 204, 0.9), rgba(29, 119, 204, 0.9)), url("https://lh3.googleusercontent.com/uH4jH0urKusM1PLh3tFISH2pc4OEatHmehzpX1_k-gn-BQtx4FPixE0--NnPzkJ_-LDqaEwB3YUzh0GMOC0_EiB7vXygOqcMF3vxNIVS-gep33M3aV2FUmW38zu50BfMDd6JMZMTcpiwW1wwIA3CkPob1MFZ5P3PDpmNz0lsPldVcDUto2a0RpUDQPaNu8bBx-H8Iw0PnCHbMjwk_ZdfREdb-l4l_nCjs6q34Xr4beB_jfYC7w8_B0HkAzr5OC6h_WoQHaEKaPnbCVo5Q1QsU_zi-l1LomFLdxdCeLz-PaUY_WudJfcPd6MvxD2g5lZx1zJy2OsDjkLAI-EGJkqKYdzuc8rhjNzUYzHxEKIdYXZKAtDE1_KVgEdsiDNAARRP5kS78Clc9Q5qUwo4tCu0Xg3V8J2aoW3mzz7iWvSCFMo_wsF3u9IpkIVqQvoD4w156_qfMuhnskV4t6QlLN5w-YaXsDNRYQajk9lBZ0MAssOCMGiaP4DPLfKOnmyfuCTlW_g20ep6k8x7bL7GiWNEkvJoe8nvkA2_5T46RWSY9YxawJuc4rg5F0-zQ9UeDAu-A2kweAXXjqRA3S9QoMxJ69OZ4TVqAcQ8k96cIXoep4ngKSftsb27VwD7cwsLBLIU=w1663-h938-no");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

body .block.top h2 {
  font-size: 30pt;
  text-align: center;
  width: 100%;
  margin-top: 5pt;
}

body .block.top p {
  width: 50vw;
  margin-bottom: 2vh;
}

@media screen and (orientation: portrait) {
  body .block.top p {
    width: 80vw;
  }
}

body .block.with_pic {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30pt;
}

@media screen and (orientation: portrait) {
  body .block.with_pic .img {
    display: none;
  }
}

body .block.with_pic.left .content {
  text-align: left;
}

body .block.with_pic.left .img {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

body .block.with_pic.right .content {
  text-align: right;
}

body .block.with_pic.right .img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .block.with_pic .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .block.with_pic .content p {
  color: #0c2f64;
  width: 30vw;
}

@media screen and (orientation: portrait) {
  body .block.with_pic .content p {
    width: 90vw;
  }
}

@media screen and (orientation: portrait) {
  body .block.with_pic .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .block.with_pic .img {
  border-radius: 100%;
  width: 20vh;
  height: 20vh;
  margin-left: 14pt;
  margin-right: 14pt;
}

body .block.with_pic.what_we_do .img {
  background: url("https://lh3.googleusercontent.com/D5gCF-X_Kf2nEgr9rHXd7ArHuzRpR5TSND5f5393GgbBQeWJl8ZodmuIj3OJmKQuXcmWWsYyzR3v4AZ6gN55H9Ko6kA7SqrLhJakbqbuwmDNofSGf1jrQZeBA90jrchWW8BbfSjGYSPWsL4I8BDovA5Sb0w8hdFnbuA3Hg52ZcGiM-8tkT9FM-E1qwaMTUT5YX0YLP3JEAucnP5MJDIfvj9i8yLdcMZevIAww26s6v5OHYhXSfPc8uJoPPMUO-0AYjp_BChcmA1fBqon6fzPa_ZDydSFuLiYM212twWQNadXuQamv3ukQq2vL2MyLSoptp54WkdW8YyA-OZ6jeOiImVukfBb5ZXLHhi2uu-Bfzhw3wr6iijfx2knEEjgsrbcnLlIKqJ5R7BD0cl7Th2khay_i-6CzpFGXaLxcMZFA3ZDT0pLWew1mPpqn9OqH8W2T-ZRJZgg3JJk1nR9fT8Yq5lJQa3hvbLFlQPZiGSpXi2ms_89DgLI0An4LgfJdEB-hIKBAFbt3vwcv85tOe75E55_8t1KB0ythwNHMzMGecvB2sKNt9lD7pmk-AnfnBLesL52FgkTc4vPFx6gQLFHEdI69V2R29ddWRuHKBTfLvktkiYN5xyxlJigX9pm33xy=w1663-h938-no");
  background-size: cover;
  background-position: 60% 0;
}

body .block.with_pic.what_we_use .img {
  background: url("https://lh3.googleusercontent.com/pw_qIFQFKIhzU8t22IjRaBA--7GTeWyzZQW51i1dWUzHCHZr_p6m2_UV2OKvfomdSBycHexUEz_La_c5KA1Ds_6hxd50s01d97yvS5Lni7AAFdwdZxCyydZYM-7F8b-gI4tGcHGJhF8evdzrTyL8lv5y8TfrXFiUFgahDNVl84iPsiCTho_SLMeXCtqgrRRthRBe1Pvf5ahHwNOKSx6FN4v6zqlBNDN4N0n9YiY8QxfzLFyVLi9QdVHa5ClZPb9MH9szYrXxFW_nnccEJKMIvVktJonRS8ywqASeYv8Vsea53fsu8OPlEXdu3v9BMvLfTu_AqGsx3-Kupp_QzwIG458AQvEj8E8Ry5D_S0hGyBAAS3HAbnIrA4_uemU07Hv6IPEWvXkj3U0J_BlSX7uq1MJoidIac7AunG4QNkbTlz547NQBtIjhsY9u1CJ1RRGiSOfytqnXBUyuz0f2AynkZOCkwws4DldxOjFkQBZrlsRLhBH47SSd41hc4um3vDKkrC46RXQ6nenPqZJcvbyYEz5ivzYZYEdxkOEHVqvxldSJSyWYxP2flyZIaW6_uCKR-5BY3htfGWUoR0qBBl1HgsglhWwOk6-dSuS7Orc-yCzqiyiU658oOcYEYeVug7X9=w1663-h938-no");
  background-size: cover;
  background-position: 60% 0;
}

body .block.with_pic.info_channel .img {
  background: url("https://postalheritage.files.wordpress.com/2016/01/the-postman-ob1997_5.jpg?w=500");
  background-size: cover;
  background-position: 20% 10;
}

body .block.with_pic.how_to_enter .img {
  background: url("http://b512ce367ff631898ef1-cfcb7e1d9e47a5f29b338b22733e6f17.r11.cf1.rackcdn.com/2016/09/2016_SeptOct_Handshake_WebExclusive-min-1-1500x1000.jpg");
  background-size: cover;
  background-position: 40%;
}

body .block.with_pic.how_to_enter {
  margin-bottom: 30pt;
}

body #become_field {
  width: 100vw;
  border-radius: 0;
  bottom: 0;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #become_field #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

body #become_field #buttons button {
  font-size: 16pt;
  text-transform: capitalize;
  height: 50pt;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body #become_field #buttons button:hover {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

@media screen and (orientation: portrait) {
  body #become_field #buttons button {
    font-size: 4vw;
  }
}

body #become_field #buttons button:disabled {
  height: 0;
  font-size: 0;
  padding: 0;
  overflow: hidden;
}

body #become_field .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  background: #124085;
}

body #become_field .form.closed {
  height: 0vh;
}
/*# sourceMappingURL=styles.css.map */