$clrPrimary: #3398eb;
$clrAdditional: #1452ad;
$clrAdditional2: #124085;
$clrAdditional3: #0c2f64;
$clrAccent: #068fff;
$clrAccent2:rgb(3, 120, 216);
$clrAccentText: #5ea9ff;
$clrHeader: linear-gradient(to right, #1d63cc 1%, #0b4aa8);
$clrFooter: #0b4aa8;

$clrEvent:$clrAccent;
$clrEventActive:#1dcc74;
$clrEventHover:#47acff;
$clrEventInAction:rgb(243, 230, 156);
$clrEventInAction2:rgb(236, 202, 6);