* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: #3398eb;
  margin: 0;
  padding: 0;
  font-family: "Niramit", sans-serif;
  min-height: 100vh;
  color: White;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  position: fixed;
  padding-top: 2pt;
  padding-bottom: 2pt;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #1d63cc), to(#0b4aa8));
  background: linear-gradient(to right, #1d63cc 1%, #0b4aa8);
  height: 5vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
}

body #content {
  width: 100vw;
  height: 95vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

::-webkit-scrollbar {
  width: 5pt;
}

::-webkit-scrollbar-track {
  background: #1452ad;
}

::-webkit-scrollbar-thumb {
  background: #068fff;
}

button {
  color: white;
  background: #0b4eb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16pt;
  padding: 5pt;
  padding-right: 10pt;
  padding-left: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

button:hover {
  background: #1365e0;
  cursor: pointer;
}

input {
  background: #124085;
  color: white;
  font-family: "Niramit", sans-serif;
  border: none;
}

textarea {
  background: #124085;
  color: white;
  font-family: "Niramit", sans-serif;
  border: none;
}

.separator {
  width: 100%;
  height: 1pt;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15pt;
  margin-bottom: 15pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 100000;
}

header h1 {
  margin-left: 14pt;
}

header h1 #mobile {
  display: none;
}

@media screen and (pointer: coarse) {
  header h1 {
    font-size: 16pt;
  }
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header h1 #full {
    display: none;
  }
  header h1 #mobile {
    display: block;
    margin-right: 10pt;
  }
}

header #buttonTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab button {
  background: none;
}

header #buttonTab button:hover {
  color: #5ea9ff;
}

header #buttonTab button #mobile {
  width: 30pt;
  display: none;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab button {
    width: 30pt;
  }
  header #buttonTab button #mobile {
    display: block;
  }
  header #buttonTab button p {
    display: none;
  }
}

header #buttonTab #bOurEvents {
  margin-left: 0pt;
  margin-right: 1vw;
  min-width: 10pt;
  padding: 1pt;
  padding-left: 5pt;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 min-content;
          flex: 1 1 min-content;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #bOurEvents {
    min-width: 0;
    margin-left: auto;
  }
}

header #buttonTab #clubSelectionTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 1vw;
  -webkit-transition: -webkit-box-flex 1s;
  transition: -webkit-box-flex 1s;
  transition: flex 1s;
  transition: flex 1s, -webkit-box-flex 1s, -ms-flex 1s;
}

header #buttonTab #clubSelectionTotal:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30vw;
          flex: 0 0 30vw;
}

header #buttonTab #clubSelectionTotal:hover > #clubSelectGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 6vh;
  }
  header #buttonTab #clubSelectionTotal:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab #clubSelectionTotal #bClubSelect {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #bClubSelect {
    display: none;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 2pt;
  margin-right: 2pt;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80%;
  transition: 1s;
  cursor: pointer;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: 3vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover + p {
  display: block;
  opacity: 0.7;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover {
  background-color: #068fff;
}

@media screen and (pointer: coarse) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
    background-size: 5vh;
  }
}

@media screen and (orientation: portrait) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
    background-size: 3vh;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm p {
  display: none;
  margin: 0;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  margin-top: 30pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #global #image {
  background-image: url("/pics/wheel.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #design #image {
  background-image: url("/pics/block.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #cyber #image {
  background-image: url("/pics/anonymous-mask.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #space #image {
  background-image: url("/pics/rocket.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #vr #image {
  background-image: url("/pics/vr.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #poker #image {
  background-image: url("/pics/poker.png");
}

@-webkit-keyframes boop {
  0% {
    height: 0;
    -webkit-box-flex: 0;
            flex: 0;
  }
  30% {
    -webkit-box-flex: 0;
            flex: 0 0 60vw;
    height: 60vw;
  }
  100% {
    -webkit-box-flex: 0;
            flex: 0 0 50vw;
    height: 50vw;
  }
}

@keyframes boop {
  0% {
    height: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  30% {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60vw;
            flex: 0 0 60vw;
    height: 60vw;
  }
  100% {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50vw;
            flex: 0 0 50vw;
    height: 50vw;
  }
}

#popup-field {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 500000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  background: rgba(6, 18, 44, 0.8);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#popup-field.closed {
  opacity: 0;
  display: none;
}

@-webkit-keyframes animEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animOuter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animOuter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popup-field.animationEnter {
  -webkit-animation: animEnter 1s ease-out;
          animation: animEnter 1s ease-out;
}

#popup-field.animationOuter {
  -webkit-animation: animOuter 1s ease;
          animation: animOuter 1s ease;
}

#popup-field .popup {
  width: 50vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 10pt;
  background: #1452ad;
  padding: 5pt;
  z-index: 50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (orientation: portrait) {
  #popup-field .popup {
    width: 90vw;
    height: auto;
  }
}

#popup-field .popup .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field .popup .header #bBack {
  margin: 0;
  width: 30pt;
  height: 30pt;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field .popup .header #bBack img {
  width: 100%;
}

#popup-field .popup .header h3 {
  margin-left: 5pt;
}

#popup-field .popup .fields .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5pt;
}

#popup-field .popup .fields .field p {
  -webkit-box-flex: max-content;
      -ms-flex: max-content 0;
          flex: max-content 0;
}

#popup-field .popup .fields .field input {
  min-height: 20pt;
  margin-left: 5pt;
  padding-left: 5pt;
  padding-right: 5pt;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .fields .field input.incorrect {
  background: #ca3030;
}

#popup-field .popup .fields .field textarea {
  min-height: 20pt;
  max-height: 200pt;
  margin-left: 5pt;
  padding-left: 5pt;
  padding-right: 5pt;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .fields .field textarea.incorrect {
  background: #ca3030;
}

#popup-field .popup .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20pt;
}

#popup-field .popup .buttons button {
  margin: 4pt;
  background: #0378d8;
  width: 100%;
  border-radius: 6pt;
  font-size: 10pt;
}

#popup-field .popup .buttons button:disabled {
  background: #0c2f64;
  cursor: default;
}

#popup-field .popup .buttons button:disabled:hover {
  background: #0c2f64;
}

#popup-field .popup .buttons button:hover {
  background: #068fff;
}

#popup-field .popup .buttons .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

#popup-field .popup .textes .text {
  -webkit-transition: 1s;
  transition: 1s;
}

#popup-field .popup .textes .text.error {
  margin-top: 5pt;
  padding: 2pt 5pt;
  border-radius: 10pt;
  background: rgba(255, 0, 0, 0.5);
}

#popup-field .popup button {
  margin: 4pt;
  background: #0378d8;
  width: 100%;
  border-radius: 6pt;
  font-size: 10pt;
}

#popup-field .popup button:hover {
  background: #068fff;
}

#popup-field .popup button:disabled {
  background: #283d66;
}

@-webkit-keyframes anim-enter {
  0% {
    margin-left: -5vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes anim-enter {
  0% {
    margin-left: -5vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@-webkit-keyframes anim-outer {
  0% {
    margin-left: 0vw;
    opacity: 1;
  }
  100% {
    margin-left: -5vw;
    opacity: 0;
  }
}

@keyframes anim-outer {
  0% {
    margin-left: 0vw;
    opacity: 1;
  }
  100% {
    margin-left: -5vw;
    opacity: 0;
  }
}

#popup-field .popup.closed {
  opacity: 0;
  display: none;
}

#popup-field .popup.animationEnter {
  -webkit-animation: anim-enter 1s ease;
          animation: anim-enter 1s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#popup-field .popup.animationOuter {
  opacity: 0;
  -webkit-animation: anim-outer 1s ease;
          animation: anim-outer 1s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#popup-field #loading .textes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-field #loading .textes img {
  width: 15vw;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body ::-webkit-scrollbar {
  height: 6pt;
}

body ::-webkit-scrollbar-thumb {
  border-radius: 10vw;
}

body #content {
  width: 100vw;
  height: 95vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #event {
  background: #0378d8;
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vw;
}

@media screen and (orientation: portrait) {
  body #event {
    width: 100vw;
  }
}

body #event #info {
  display: none;
}

body #event h2 {
  word-wrap: normal;
}

body #event h3 {
  color: rgba(221, 221, 221, 0.75);
}

body #event #date {
  color: #0c2f64;
}

body #event #bEdit {
  border-radius: 100%;
  height: 25pt;
  width: 25pt;
  border: none;
}

body #event #bEdit.hidden {
  display: none;
}

body #event #bEdit img {
  width: 300%;
}

@-webkit-keyframes anim {
  0% {
    margin-left: -2vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    margin-left: -2vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

body #event.enabled {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #event.enabled #about {
  display: none;
}

body #event.enabled #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #event.enabled #info.anim {
  -webkit-animation: anim 1s ease;
          animation: anim 1s ease;
}

body #event_list {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background: #1452ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

body #event_list #items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 10pt;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

body #event_list .event {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30pt;
          flex: 1 0 30pt;
  background: #068fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 90%;
  border-radius: 20pt;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  margin: 5pt;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #event_list .event p {
  font-size: 50%;
  white-space: nowrap;
  overflow: hidden;
}

body #event_list .event.active {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40pt;
          flex: 1 0 40pt;
  background: #1dcc74;
}

body #event_list .event.active.active {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40pt;
          flex: 1 0 40pt;
  background: #1dcc74;
}

body #event_list .event.active.new {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes anim_event_new {
  0% {
    background: #068fff;
  }
  100% {
    background: #1dcc74;
  }
}

@keyframes anim_event_new {
  0% {
    background: #068fff;
  }
  100% {
    background: #1dcc74;
  }
}

body #event_list .event.new {
  -webkit-animation-name: anim_event_new;
          animation-name: anim_event_new;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes anim_event_inAction {
  0% {
    background: #f3e69c;
  }
  100% {
    background: #ecca06;
  }
}

@keyframes anim_event_inAction {
  0% {
    background: #f3e69c;
  }
  100% {
    background: #ecca06;
  }
}

body #event_list .event.inAction {
  -webkit-animation-name: anim_event_inAction;
          animation-name: anim_event_inAction;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

body #event_list .event:hover {
  background: #47acff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32pt;
          flex: 1 0 32pt;
}

body #visits {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background: #1452ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  -webkit-transition: 1s;
  transition: 1s;
}

body #visits.closed {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 0;
  display: none;
}

body #visits h2 {
  margin-top: 1vh;
  font-size: 1.5vh;
  width: 100%;
  text-align: center;
}

body #visits #items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

body #visits.opened {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

body #visits .visit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30pt;
          flex: 1 0 30pt;
  background: #068fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 90%;
  border-radius: 20pt;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin: 5pt;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #visits .visit p {
  font-size: 50%;
  white-space: nowrap;
  overflow: hidden;
}

body #visits .visit.active {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40pt;
          flex: 1 0 40pt;
  background: #1dcc74;
}

body #visits .visit.active.active {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40pt;
          flex: 1 0 40pt;
  background: #1dcc74;
}

body #visits .visit:hover {
  background: #47acff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32pt;
          flex: 1 0 32pt;
}

body #popup-field #editEvent #bRemove {
  background: #a00505;
}

body #popup-field #editEvent #bRemove:hover {
  background: #c52c2c;
}
/*# sourceMappingURL=styles.css.map */