* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: #3398eb;
  margin: 0;
  padding: 0;
  font-family: "Niramit", sans-serif;
  min-height: 100vh;
  color: White;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  position: fixed;
  padding-top: 2pt;
  padding-bottom: 2pt;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #1d63cc), to(#0b4aa8));
  background: linear-gradient(to right, #1d63cc 1%, #0b4aa8);
  height: 5vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5pt;
}

::-webkit-scrollbar-track {
  background: #1452ad;
}

::-webkit-scrollbar-thumb {
  background: #068fff;
}

button {
  color: white;
  background: #0b4eb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16pt;
  padding: 5pt;
  padding-right: 10pt;
  padding-left: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

button:hover {
  background: #1365e0;
  cursor: pointer;
}

input {
  background: #124085;
  color: white;
  font-family: "Niramit", sans-serif;
  border: none;
}

.separator {
  width: 100%;
  height: 1pt;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15pt;
  margin-bottom: 15pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header h1 {
  margin-left: 14pt;
}

header h1 #mobile {
  display: none;
}

@media screen and (pointer: coarse) {
  header h1 {
    font-size: 16pt;
  }
}

@media screen and (orientation: portrait) {
  header h1 #full {
    display: none;
  }
  header h1 #mobile {
    display: block;
    margin-right: 10pt;
  }
}

header #buttonTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (orientation: portrait) {
  header #buttonTab {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab button {
  background: none;
}

header #buttonTab button:hover {
  color: #5ea9ff;
}

header #buttonTab button #mobile {
  width: 30pt;
  display: none;
}

@media screen and (orientation: portrait) {
  header #buttonTab button {
    width: 30pt;
  }
  header #buttonTab button #mobile {
    display: block;
  }
  header #buttonTab button p {
    display: none;
  }
}

header #buttonTab #bOurEvents {
  margin-left: 0pt;
  margin-right: 1vw;
  min-width: 10pt;
  padding: 1pt;
  padding-left: 5pt;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 min-content;
          flex: 1 1 min-content;
}

@media screen and (orientation: portrait) {
  header #buttonTab #bOurEvents {
    min-width: 0;
    margin-left: auto;
  }
}

header #buttonTab #clubSelectionTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 1vw;
  -webkit-transition: -webkit-box-flex 1s;
  transition: -webkit-box-flex 1s;
  transition: flex 1s;
  transition: flex 1s, -webkit-box-flex 1s, -ms-flex 1s;
}

header #buttonTab #clubSelectionTotal:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30vw;
          flex: 0 0 30vw;
}

header #buttonTab #clubSelectionTotal:hover > #clubSelectGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (orientation: portrait) {
  header #buttonTab #clubSelectionTotal {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 6vh;
  }
  header #buttonTab #clubSelectionTotal:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header #buttonTab #clubSelectionTotal #bClubSelect {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (orientation: portrait) {
  header #buttonTab #clubSelectionTotal #bClubSelect {
    display: none;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (orientation: portrait) {
  header #buttonTab #clubSelectionTotal #clubSelectGroup {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 2pt;
  margin-right: 2pt;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80%;
  transition: 1s;
  cursor: pointer;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: 3vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover + p {
  display: block;
  opacity: 0.7;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm #image:hover {
  background-color: #068fff;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup .itm p {
  display: none;
  margin: 0;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  margin-top: 30pt;
  -webkit-transition: 1s;
  transition: 1s;
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #global #image {
  background-image: url("/pics/wheel.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #design #image {
  background-image: url("/pics/block.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #cyber #image {
  background-image: url("/pics/anonymous-mask.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #space #image {
  background-image: url("/pics/rocket.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #vr #image {
  background-image: url("/pics/vr.png");
}

header #buttonTab #clubSelectionTotal #clubSelectGroup #poker #image {
  background-image: url("/pics/poker.png");
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #094b2f;
  color: white;
}

body .topHead {
  font-size: 16pt;
}

body .parallax-slider {
  -webkit-filter: blur(10pt);
          filter: blur(10pt);
  overflow: hidden;
}

body .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

body .block .content h2 {
  margin: 0;
}

body .block .content p {
  margin: 0;
}

@media screen and (orientation: portrait) {
  body .block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .block * {
    text-align: center;
  }
  body .block h2 {
    font-size: 16pt;
  }
}

body .block.top {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 95vh;
          flex: 1 1 95vh;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  width: 100vw;
  text-align: center;
}

@media screen and (orientation: portrait) {
  body .block.top {
    background-position-x: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

body .block.top .bg {
  width: 100vw;
  height: 95vh;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top .bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.99))), url("/pics/photos/poker_bg.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.99)), url("/pics/photos/poker_bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

body .block.top h2 {
  font-size: 30pt;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 5vh;
  margin-top: auto;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top h2 {
    font-size: 20pt;
  }
}

body .block.top p {
  width: 50vw;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top p {
    width: 80vw;
  }
}

body .block.top #circled-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (orientation: portrait) {
  body .block.top #circled-parts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .block.top #circled-parts .circled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 10pt;
  margin-left: 5vw;
  margin-right: 5vw;
}

body .block.top #circled-parts .circled .img {
  border-radius: 100%;
  width: 30vh;
  height: 30vh;
}

@media screen and (orientation: portrait) {
  body .block.top #circled-parts .circled .img {
    width: 20vw;
    height: 20vw;
  }
}

body .block.top #circled-parts .circled h3 {
  font-size: 20pt;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top #circled-parts .circled h3 {
    font-size: 2.8vw;
  }
}

body .block.top #circled-parts .circled p {
  width: 20vw;
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  overflow: hidden;
  color: red;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (orientation: portrait) {
  body .block.top #circled-parts .circled p {
    font-size: 4vw;
    height: 0;
    width: 95vw;
  }
}

@media screen and (pointer: coarse) {
  body .block.top #circled-parts .circled p {
    font-size: 1vw;
  }
}

body .block.top #circled-parts .circled:hover > p {
  opacity: 1;
}

@media screen and (orientation: portrait) {
  body .block.top #circled-parts .circled:hover > p {
    height: auto;
  }
}

body .block.top #circled-parts .circled:hover > h3 {
  font-size: 30pt;
}

@media screen and (orientation: portrait), screen and (pointer: coarse) {
  body .block.top #circled-parts .circled:hover > h3 {
    font-size: 3vw;
  }
}

body .block.top #circled-parts .circled.learnHow .img {
  background: url("/pics/photos/poker0.png");
  background-size: 100%;
}

body .block.top #circled-parts .circled.takePart .img {
  background: url("/pics/photos/poker1.png");
  background-size: 100%;
}

body .block.top #circled-parts .circled.raiseRate .img {
  background: url("/pics/photos/poker2.png");
  background-size: 100%;
}

body .block.top #info {
  margin-top: auto;
  margin-bottom: 5pt;
}
/*# sourceMappingURL=styles.css.map */